<!DOCTYPE html>
<html>
		<head>
			<title>Drug Abuse in New Mexico</title>
			<link rel="stylesheet" type="text/css" href="style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
		<script src="library.js"></script>
		</head>
		<body>
		<h1>Illicit drug use in minors, New Mexico</h1>
		<p>In the early 2000's the use of illicit drugs and alcohol abuse in minors in New Mexico is a problem</p>
		<p>You may be wondering what illicit drugs means, well illicit drugs are cocaine, amphetamines, heroin, and hallucinogens. These are the most addictive and dangerous drugs for minors to use.</p>



		
		
		
		
		
		
		
		
		
		
		</body>
		</html>
