{% extends "layout.html"%}
{%set active_page = "home"%}
	{%block title%}Home{%endblock%}
			
		<!--page content-->
		{%block content%}
		<h1>Illicit drug use and alcohol abuse in minors, New Mexico</h1>
		<p>In the early 2000's the use of illicit drugs and alcohol abuse in minors in New Mexico is a problem</p>
		<p>You may be wondering what illicit drugs means, well illicit drugs are cocaine, amphetamines, heroin, and hallucinogens. These are the most addictive and dangerous drugs for minors to use.</p>
		<p>A test was taken in 2003 for kids in grade 9th-12th, within the past 30 days 8.9% kids reported using cocaine</p>
		<p>There has been lots of drug abuse in New Mexico which have caused multiple drug overdose</p>
		<p>The death rate increased 16% in 2002</p>

		
		
		{%endblock%}
		
		
		
		
		
		
	
