{% extends "layout.html"%}
{%set active_page = "page2"%}
	{%block title%}Page2{%endblock%}
	
	<!--page content-->
		{%block content%}
		<h1>Abusive use of illicit drugs and alcohol in all states</h1>
		<p>Drop down of all states</p>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.dropbtn {
  background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #000000;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #148dff;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
</style>
</head>
<body>



<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#Alabama">AL</a>
    <a href="#Alaska">AK</a>
    <a href="#Arizona">AZ</a>
				<a href="#Arkansas">AR</a>
				<a href ="#California">CA</a>
				<a href ="#Colorado">CO</a>
				<a href ="#Connecticut">CT</a>
				<a href ="#Delaware">DE</a>
				<a href ="#Florida">FL</a>
				<a href ="#Georgia">GA</a>
				<a href ="#Hawaii">HI</a>
				<a href ="#Idaho">ID</a>
				<a href ="#Illinois">IL</a>
				<a href ="#Indiana">IN</a>
				<a href ="#Iowa">IA</a>
				<a href ="#Kansas">KS</a>
				<a href ="#Kentucky">KY</a>
				<a href ="#Louisiana">LA</a>
				<a href ="#Maine">ME</a>
				<a href ="#Maryland">MD</a>
				<a href ="#Massachusetts">MA</a>
				<a href ="#Michigan">MI</a>
				<a href ="#Minnesota">MN</a>
				<a href ="#Mississippi">MS/a>
				<a href ="#Missouri">MO</a>
				<a href ="#Montana">MT</a>
				<a href ="#Nebraska">NE</a>
				<a href ="#Nevada">NV</a>
				<a href ="#New Hampshire">NH</a>
				<a href ="#New Jersey">NJ</a>
				<a href ="#New Mexico">NM</a>
				<a href ="#New York">NY</a>
				<a href ="#North Carolina">NC</a>
				<a href ="#North Dakota">ND</a>
				<a href ="#Ohio">OH</a>
				<a href ="#Oklahoma">OK</a>
				<a href ="#Oregon">OR</a>
				<a href ="#Pennsylvania">PA</a>
				<a href ="#Rhode Island">RI</a>
				<a href ="#South Carolina">SC</a>
				<a href ="#South Dakota">SD</a>
				<a href ="#Tennessee">TN</a>
				<a href ="#Texas">TX</a>
				<a href ="#Utah">UT</a>
				<a href ="#Vermont">VT</a>
				<a href ="#Virginia">VA</a>
				<a href ="#Washington">WA</a>
				<a href ="#West Virginia">WV</a>
				<a href ="#Wisconsin">WI</a>
				<a href ="#Wyoming">WY</a>
  </div>
</div>

<script>

function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}


window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
		
		
		{%endblock%}

